<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content">
    <h1>People List</h1>

    <div class="container">
        <div class="row">
            <div class="col-12" th:each="person : ${people}">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <img style="max-width: 100px; max-height: 150px; object-fit: cover;" th:src="'/person/photo/' + ${person.id}" class="card-img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title m-2" th:text="${person.firstName} + ' ' + ${person.lastName}"></h5>
                                <p class="card-text m-2">
                                    <strong>Gender: </strong><span th:text="${person.gender}"></span><br>
                                    <strong>Nationality: </strong><span th:text="${person.nationality}"></span><br>
                                    <strong>Birth date: </strong><span th:text="${#dates.format(person.birthDate, 'dd.MM yyyy')}"></span><br th:if="${person.deathDate != null}">
                                    <strong th:if="${person.deathDate != null}">Death date: </strong><span th:if="${person.deathDate != null}" th:text="${#dates.format(person.deathDate, 'dd.MM yyyy')}"></span>
                                </p>
                                <div class="d-flex">
                                    <a class="btn btn-primary m-2" th:href="'person/' + ${person.id}">Detail</a>
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary m-2" th:href="'person/update/' + ${person.id}">Update</a>
                                    <form sec:authorize="hasRole('ROLE_ADMIN')" method="post" th:action="'person/delete/' + ${person.id}">
                                        <button class="btn btn-danger m-2">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" href="person/create">Create</a>
</main>